ion-content#quiz-content {
  --background: none; 

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/assets/backgroundhome2.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:root {
  --ion-color-primary: #123456;      
  --ion-color-secondary: #4a86b9;    
  --ion-color-tertiary: #6aa8d8;     
  --ion-color-light-text: #ffffff;   
}

.select-topic-header {
  --ion-toolbar-background: #03346E; 
  --color: #FFFFFF;
}
.select-topic-header ion-title {
  color: #FFFFFF;
  font-size: 2rem;      
  letter-spacing: 1px;  
}
.select-topic-header ion-back-button,
.select-topic-header ion-menu-button {
  color: #FFFFFF;
}

ion-content#quiz-content {
  --background: var(--ion-color-dark-bg);
}

.welcome-container h2 {
  color: var(--ion-color-light-text);
  font-size: 50px;
  text-align: center;
  margin-bottom: 15px;
}

.welcome-container p {
  color: var(--ion-color-light-text);
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}
.category-grid ion-button::part(native),
.category-button::part(native),
.time-attack-button::part(native) {
  background: #6EACDA;
  color: var(--ion-color-light-text);
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  height: 60px;
  margin: 8px 0;
  box-shadow: none;
}

.category-grid ion-button::part(native) {
  font-size: 30px;
  height: 80px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.time-attack-button::part(native) {
  background: #6EACDA; 
  height: 60px;
  margin: 15px 0 0 0;
}


