<ion-menu contentId="quiz-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item [routerLink]="['/home']">Home</ion-item>
      <ion-item [routerLink]="['/about-us']">About Us</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header class="ion-no-border select-topic-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Select Topic</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content id="quiz-content" class="ion-padding">
  <div class="ion-text-center welcome-container">
    <h2>Hello, {{ username }}! </h2>
    <p>Select a category to start your quiz:</p>

    <div class="category-grid">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="6" *ngFor="let cat of categories">
            <ion-button
              expand="block"
              class="category-button"
              (click)="goToQuestion(cat)">
              {{ cat }}
            </ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-button
           
              class="time-attack-button"
              (click)="goToQuestion('Time Attack')">
               Time Attack Mode 
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>