/* home.page.scss Main Background */
.main-bg {
  --background: 
    linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url('/assets/backgroundhome.jpg') center / cover no-repeat;
  
  color: white;
}


.custom-header {
  --background: #03346E; 
  --color: white;
  ion-title {
    font-weight: 700;
    font-size: 30px;
  }
}

.welcome-card {
  background-color: #03346E; 
  padding: 30px 20px 50px 20px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);

  .main-title {
    color: #f1e0ac; 
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
  }

  .description {
    color: #e0e0e0;
    font-size: 15px;
    line-height: 1.4;
    margin: 0;
  }
}

.interaction-container {
  padding: 20px;
  text-align: center;
}

.tagline {
  color: #f1e0ac; 
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 15px;
}

.input-wrapper {
  margin-bottom: 30px;
}

.custom-input {
  --background: #03346E;          
  --color: white;                  
  --placeholder-color: #a0a0a0;   
  --padding-start: 15px;           

  border: 5px solid #f1e0ac;       
  border-radius: 5px;              
  font-weight: bold;
  text-align: left;
  margin: 0 auto;
  max-width: 90%;
}


.primary-btn {
  --background-: #6EACDA; 
  --color: #03346E; 
  --border-radius: 5px;

  font-weight: 900;
  letter-spacing: 1px;
  font-size: 1.1rem;

  height: 55px;
  max-width: 90%;
  margin: 0 auto;

  box-shadow: 0 4px 0 rgba(0,0,0,0.2);
}

/* Only spacing difference */
.about-spacing {
  margin-top: 15px;
}

 Scores Styling */
.scores-section {
  margin-top: 30px;
  text-align: left;
  
  h3 {
    color: #f1e0ac;
    font-size: 1.1rem;
    margin-left: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}

.score-list {
  background: transparent;
  padding: 0;
}

.score-item {
  --background: rgba(13, 58, 169, 0.3); 
  --color: white;
  margin-bottom: 8px;
  border-radius: 10px;
  
  .score-details {
    color: #ccc;
    font-size: 0.85rem;
  }

  

.score-category {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--ion-color-dark);
}

.user-name-highlight {
  color: var(--ion-color-primary); 
  font-weight: 800; 
  text-transform: uppercase;
}

.separator {
  color: #ccc;
  margin: 0 5px;
}

.score-details {
  margin-top: 5px;
  font-size: 0.9rem;
  color: var(--ion-color-medium);
}
}